
<h1>Formulario de productos</h1>

<div class="prods">
  {{#each prod}}
  <div class="card">
    <h3>{{this.title}}</h3>
    <img src="{{this.thumbnail}}" alt="{{this.title}}">
    <p>Description: {{this.description}}</p>
    <p>ID: {{this.id}}</p>
    <p>Precio: $ {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Categoria: {{this.category}}</p>
  </div>
  {{/each}}
</div>




<form action="/src/public/uploads/" enctype="multipart/form-data" method="POST">
  <label for="nombre">{{testUser.name}}:</label>
  <input type="file" name="Archivo" id="nombre" />
  <input  type="submit" value="subir archivo" />
<p id="aa">dsdsadasdasdasd</p>
  <button onclick="alert('esta')">apre</button>
</form>



<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
