
<h1>Formulario de productos</h1>

<div class="prods">
  {{#each prod}}
  <div class="card">
    <h3>{{this.title}}</h3>
    <img src="{{this.thumbnail}}" alt="{{this.title}}">
    <p>Description: {{this.description}}</p>
    <p>ID: {{this.id}}</p>
    <p>Precio: $ {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Categoria: {{this.category}}</p>
  </div>
  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>